// -----------------------------
// Setup
@padding: 20px;

html {
    background-color: #b5b5b5;
    border: 1px solid #d2d2d2;
    height: 100%;
    padding: @padding;
}

body {
    background-color: #fff;
    border: 1px solid #949494;
    padding: @padding;
}

// -----------------------------
// Begin styling code below.
